body{
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    background: #FEFEFE;
    
    }
    
    html{
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      scroll-behavior: smooth;
      height: 100%; 
    }
    
    